body{
    background-color: #e3e6e3;
    padding-top: 50px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#card{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 600px;
  height: 200px;  
}
.chat-btn{
  position: fixed;
  right:50px;
  bottom: 50px;
  background: dodgerblue;
  color: white;
  width:60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.3s;
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  }

.chat-btn:hover, .submit:hover{
    opacity: 1;
}